.aboutMe{
    height:60vh;
 
    top:50px;

    
}

.aboutMeCentralElement{
    position: relative;
    top:5%;
    margin:auto;
    background-color: rgba(46, 34, 34, 0.8);
    color:ghostwhite;
   padding:5vw;
  
   
}

.aboutMeText{
    width:60%;
   margin: 0 auto;
}
.aboutMeText p{
    text-align: justify;
} 

@media only screen and (max-width: 440px){
  .aboutMe{
    overflow: scroll;
  }
}