.footer {
    background: rgb(126, 191, 210);
    background: linear-gradient(
      103deg,
      rgba(126, 191, 210, 1) 14%,
      rgba(177, 206, 229, 1) 33%,
      rgba(116, 165, 177, 1) 64%,
      rgba(92, 116, 140, 1) 81%
    );
    height: 20vh;
    text-align: right;
    color: #d9e7f2;
  }
  .footerWrapper {
    width: 30%;
    margin-top: 4vh;
    float: right;
    margin: auto;
    padding: 4vw;
  }
  
  .h2footer {
    width: 100%;
  }
  
  @media only screen and (max-width: 440px) {
    .footerWrapper {
      width: 100%;
      margin-top: 10%;
    }
  }
  