

.header {
    position: relative;
    top:0px;
    background-image: url(../media/backgrounds/pexels-johannes-plenio-1423600.jpg);
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  
}

.wrapper{
    position: relative;
    top:30%;
    left:20vw;
    width:50%;
    text-align: left;
    color:39,44,51;
}

