

.header {
    position: relative;
    top:0px;
    background-image: url(../media/backgrounds/karim-ben-van-F2reN77g_gg-unsplash.jpg);
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  
}

.wrapper{
    position: relative;
    top:30%;
    left:20vw;
    width:50%;
    text-align: left;
    color:#1e262e;
}

