.navbar{
position: absolute;
top:3vh;
right:5vw;
height: 10vh;
width: 15%;
display: flex;
justify-content: space-evenly;

}
.navbar>a{
    
  color:rgb(39,44,51);
  margin-top: auto;
  margin-bottom: auto;

}


@media screen and (max-width: 570px){
   .navbar{
       width: 35%;
   }
}