.technologies{
   
    
    background-color: burlywood;
   
    height:70vh;

}

.techIcons{
    margin:10vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.techIcons>div{
    padding: 2vh;
}

.iconWrapper{
   
    
    padding:none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

    
}

.techIcons *{
    position: relative;
  
    
   

}

.technologies:hover #rightDiv{
    animation: transformRight 1s forwards;
}
 .technologies:hover #leftDiv{
    animation: transformLeft 1s forwards;
} 
.technologies:hover #topDiv{
    animation: transformTop 1s forwards;
}
 .technologies:hover #bottomDiv{
    animation: transformBottom 1s forwards;
}
 
#rightDiv{
    position: absolute;
    top:0px;
    left:0px;
    border-right:5px black solid;
    height:0%;
    width:100%;
}

 
#leftDiv{
    position: absolute;
    bottom:0px;
    left:0px;
    border-left:5px black solid;
    height:0%;
    width:100%;
}

 #topDiv{
    position: absolute;
    top:0px;
    right:0px;
    border-top:5px black solid;
    height:50%;
    width:100%; 
 }
 
 #bottomDiv{
    position: absolute;
    bottom:0px;
    left:0px;
    border-bottom:5px black solid;
    height:50%;
    width:100%; 
 }




@media only screen and (max-width: 440px){
    .technologies{
        height:180vh;
    }
    .iconWrapper{
        margin-bottom: 2vw;
    }
}

@keyframes iconSpacing{
    0%{margin:0.5vh}
    100%{margin: 1.5vh;
    }
}

@keyframes transformRight{
0%{height:0%}
50%{height:100%;}

100%{height:0%}

}
@keyframes transformLeft{
0%{height:0%}
50%{height:100%; bottom:0px;}
100%{height: 0%}
}
@keyframes transformTop{
0%{width:100%}
50%{width:0%; left:0px;}
100%{width:100%}
}
@keyframes transformBottom{
0%{width:100%}
50%{width:0%; right:0px;}
100%{width:100%}
}