#title{
    grid-area: title;
}

#info {
    position: relative;
    top:0vh;
    left:0vh;
    grid-area: info;
}
#info li{
    padding:5px;
}

#tech {
    grid-area: tech;
}

#github {
    display:flex;
    padding: 2px;
    grid-area: github;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  /*   background-image: url(../media/Logos/GitHub_Logo.png); */
    color:#ecf3f9;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

#github:hover{
    background-color:rgba(60, 77, 93,0.9);
}

p{
    margin: 0;
}

#innerInfo{
    position: relative;
    top:9vh;
    left: 0vh;
    height:5em;  
}

ul{
    list-style-type: none;
    padding:2vw;  
 }

.titleDiv{
    position: relative;
    top:0vh;
    left:0vh;
}

#titleInner{
    position: relative;
    top:5vh;
}

.thumbnailDiv {
   position: relative;
    margin:0px;
    display: block;
    height:50vh;
    width: 50vw;
    background-repeat: no-repeat;
    background-size: 110%;
    cursor: pointer;
    background-position: center;
}

.thumbnailDiv:hover .gridContainer{
    animation: backColorChange 1s forwards;
}

.thumbnailDiv:hover ul{
    background-color:rgba(60, 77, 93,0.9);
    box-shadow: 0 0 5px 40px rgba(60, 77, 93,0.9);
}

/* .thumbnailDiv:hover #innerInfo{
    animation: moveInfo 1s forwards 0.3s;
} */

 .thumbnailDiv:hover{
    animation: background-zoom 4s forwards;
}

 .gridContainer{
     display: grid;
     align-items: stretch;
     height: 100%;
     background-color:rgba(60, 77, 93, 0.96);
     color: #ecf3f9;
     /* #d9e7f2; */
     grid-template-areas:
     "title title title title"
     "info info info info"
     "tech tech tech github " ;  
     grid-template-rows: 1fr 4fr 1fr; 
 }
 /* .thumbnailDiv:hover #titleInner{
 animation: moveTitle 0.7s forwards 0.8s;
} */

@keyframes background-zoom{
    0%{background-size: 110%;}
    100%{background-size: 115%;}
}  
 
@keyframes moveInfo{
    0%{top: 9vh; left:0vw}
    100%{top: 13vh; left: 0vw;}
}

@keyframes moveTitle{
    0%{top: 0vh}
    100%{top:3vh}
}

@keyframes backColorChange{
    0%{background-color: rgba(60, 77, 93,0.9);}
    100%{background-color: rgba(60, 77, 93,0.5);}
}

@media screen and (max-width: 570px){
     .thumbnailDiv{
         width: 100%;
         background-size: cover;
         background-position: center;
         border-bottom: 1px solid whitesmoke;
     }
     
 .gridContainer{
    background-color:rgba(60, 77, 93, 0.8);
  }
 }


 